

<nav class="sidebar sidebar-offcanvas" id="sidebar">
    <div class="sidebar-brand-wrapper d-none d-lg-flex align-items-center justify-content-center fixed-top">
        <a class="sidebar-brand brand-logo" href="/Corona-Admin-Theme/template/index.html"><img src="/Corona-Admin-Theme/template/assets/images/logo.svg" alt="logo" /></a>
        <a class="sidebar-brand brand-logo-mini" href="/Corona-Admin-Theme/template/index.html"><img src="/Corona-Admin-Theme/template/assets/images/logo-mini.svg" alt="logo" /></a>
    </div>
    <ul class="nav">
        <li class="nav-item profile">
            <div class="profile-desc">
                <div class="profile-pic">
                    <div class="count-indicator">
                        <img class="img-xs rounded-circle " src="/Images/@ViewBag.Image" alt="">
                        <span class="count bg-success"></span>
                    </div>
                    <div class="profile-name">
                        <h5 class="mb-0 font-weight-normal">@ViewBag.Name </h5>
                        <span>Yönetici</span>
                    </div>
                </div>
                <a href="#" id="profile-dropdown" data-toggle="dropdown"><i class="mdi mdi-dots-vertical"></i></a>
                <div class="dropdown-menu dropdown-menu-right sidebar-dropdown preview-list" aria-labelledby="profile-dropdown">
                    <a href="/Profile/Index/" class="dropdown-item preview-item">
                        <div class="preview-thumbnail">
                            <div class="preview-icon bg-dark rounded-circle">
                                <i class="mdi mdi-settings text-primary"></i>
                            </div>
                        </div>
                        <div class="preview-item-content">
                            <p class="preview-subject ellipsis mb-1 text-small">Account settings</p>
                        </div>
                    </a>
                    <div class="dropdown-divider"></div>
                    <a href="#" class="dropdown-item preview-item">
                        <div class="preview-thumbnail">
                            <div class="preview-icon bg-dark rounded-circle">
                                <i class="mdi mdi-onepassword  text-info"></i>
                            </div>
                        </div>
                        <div class="preview-item-content">
                            <p class="preview-subject ellipsis mb-1 text-small">Change Password</p>
                        </div>
                    </a>
                    <div class="dropdown-divider"></div>
                    <a href="#" class="dropdown-item preview-item">
                        <div class="preview-thumbnail">
                            <div class="preview-icon bg-dark rounded-circle">
                                <i class="mdi mdi-calendar-today text-success"></i>
                            </div>
                        </div>
                        <div class="preview-item-content">
                            <p class="preview-subject ellipsis mb-1 text-small">To-do list</p>
                        </div>
                    </a>
                </div>
            </div>
        </li>
        <li class="nav-item nav-category">
            <span class="nav-link">Navigation</span>
        </li>
        <li class="nav-item menu-items">
            <a class="nav-link" href="/Dashboard/Index/">
                <span class="menu-icon">
                    <i class="mdi mdi-speedometer"></i>
                </span>
                <span class="menu-title">Dashboard</span>
            </a>
        </li>
        <li class="nav-item menu-items">
            <a class="nav-link" href="/About/Index/">
                <span class="menu-icon">
                    <i class="mdi mdi-account"></i>
                </span>
                <span class="menu-title">Hakkımda</span>
            </a>
        </li>
        <li class="nav-item menu-items">
            <a class="nav-link" href="/Education/Index/">
                <span class="menu-icon">
                    <i class="mdi mdi-account"></i>
                </span>
                <span class="menu-title">Eğitim</span>
            </a>
        </li>
        <li class="nav-item menu-items">
            <a class="nav-link" href="/Footer/Index/">
                <span class="menu-icon">
                    <i class="mdi mdi-arrow-collapse-down"></i>
                </span>
                <span class="menu-title">Sayfa Sonu</span>
            </a>
        </li>

        <li class="nav-item menu-items">
            <a class="nav-link" href="/Navbar/Index/">
                <span class="menu-icon">
                    <i class="mdi mdi-menu"></i>
                </span>
                <span class="menu-title">Navbar</span>
            </a>
        </li>

        <li class="nav-item menu-items">
            <a class="nav-link" href="/Portfolio/Index/">
                <span class="menu-icon">
                    <i class="mdi mdi-briefcase"></i>
                </span>
                <span class="menu-title">Portföy</span>
            </a>
        </li>

        <li class="nav-item menu-items">
            <a class="nav-link" href="/Service/Index/">
                <span class="menu-icon">
                    <i class="mdi mdi-cogs"></i>
                </span>
                <span class="menu-title">Hizmetler</span>
            </a>
        </li>

        <li class="nav-item menu-items">
            <a class="nav-link" href="/Skill/Index/">
                <span class="menu-icon">
                    <i class="mdi mdi-lightbulb-on"></i>
                </span>
                <span class="menu-title">Yetenekler</span>
            </a>
        </li>

        <li class="nav-item menu-items">
            <a class="nav-link" href="/Testimonial/Index/">
                <span class="menu-icon">
                    <i class="mdi mdi-certificate"></i>
                </span>
                <span class="menu-title">Referanslar</span>
            </a>
        </li>
        <li class="nav-item menu-items">
            <a class="nav-link" href="/Subscribe/Index/">
                <span class="menu-icon">
                    <i class="mdi mdi-email"></i>
                </span>
                <span class="menu-title">Bülten</span>
            </a>
        </li>
        <li class="nav-item menu-items">
            <a class="nav-link" href="/Message/Index/">
                <span class="menu-icon">
                    <i class="mdi mdi-inbox"></i>
                </span>
                <span class="menu-title">Gelen Kutusu</span>
            </a>
        </li>




    </ul>
</nav>