<!-- Abone Ol Başlangıç -->
<section class="wow fadeInUp" data-wow-delay="0.1s">
    <div class="bg-secondary text-center p-5">
        <h1 class="text-white font-weight-bold">Bültenime Abone Olun</h1>
        <p class="text-white">Abone olun ve en son makalemi gelen kutunuza alın</p>
        <form id="aboneForm" action="/Default/Subscribe" method="post">
            <div class="position-relative w-100">
                <input id="Mail"
                       name="Mail"
                       class="form-control bg-dark border-0 w-100 py-3 ps-4 pe-5"
                       type="email"
                       placeholder="E-posta adresiniz"
                       required />
                <button type="submit" class="btn btn-primary py-2 position-absolute top-0 end-0 mt-2 me-2">Abone Ol</button>
            </div>
        </form>
    </div>
</section>
<!-- Abone Ol Bitiş -->
