@model List<ContactListDto>
@functions {
    public string GetTimeAgo(DateTime date)
    {
        TimeSpan timeSince = DateTime.Now - date;

        if (timeSince.TotalMinutes < 1)
        {
            return "Şimdi";
        }
        else if (timeSince.TotalHours < 1)
        {
            return $"{(int)timeSince.TotalMinutes} dakika önce";
        }
        else if (timeSince.TotalDays < 1)
        {
            return $"{(int)timeSince.TotalHours} saat önce";
        }
        else if (timeSince.TotalDays < 7)
        {
            return $"{(int)timeSince.TotalDays} gün önce";
        }
        else
        {
            return date.ToString("dd MMM yyyy, hh:mm tt");
        }
    }
}


<div class="col-md-6 col-xl-4 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <div class="d-flex flex-row justify-content-between">
                <h4 class="card-title">Mesajlar</h4>
                <a class="text-muted mb-1 small" href="/Contact/Index/">Tüm Mesajlar</a>
            </div>
            <div class="preview-list">
                @foreach(var item in Model)
                {
                    <div class="preview-item border-bottom">
                        <div class="preview-item-content d-flex flex-grow">
                            <div class="flex-grow">
                                <div class="d-flex d-md-block d-xl-flex justify-content-between">
                                    <h6 class="preview-subject">@item.Name</h6>
                                    <p class="text-muted text-small">@GetTimeAgo(item.Date ?? DateTime.MinValue)</p>

                                </div>
                                <p class="text-muted">@item.Subject</p>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>